<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../polymer/lib/elements/dom-if.html">
<link rel="import" href="../../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../grain-masonry/grain-masonry.html">
<link rel="import" href="../collectar-card/collectar-card.html">
<link rel="import" href="../collectar-icons/collectar-icons.html">
<link rel="import" href="../collectar-service/collectar-service.html">
<link rel="import" href="../collectar-card-show/collectar-card-show.html">

<dom-module id="collectar-list">
  <template>
    <style>
      :host {
        --paper-spinner-color: #00a9eb;
        display: block;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        width: 100%;
      }
      .show-less, .show-more {
        text-align: center;
        position: relative;
        padding: 10px;
        height: 40px;
      }
      .results paper-icon-button {
        color: var(--default-primary-color);
        background: var(--primary-background-color);
        border-radius: 50%;
        padding: 5px;
      }
      .spinner {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
      }
      .spinner paper-spinner {
        background: var(--primary-background-color);
        border-radius: 50%;
        padding: 5px;
      }
      .results {
        padding: 10px;
      }
      .results .list {
        -moz-column-width: 19em;
        -webkit-column-width: 19em;
        column-width: 19em;
        -moz-column-gap: 1.2em;
        -webkit-column-gap: 1.2em;
        column-gap: 1.2em;
      }
      collectar-card {
        display: inline-block;
        width: calc(25% - 20px);
        margin: 20px 10px 0;
        @apply --collectar-card;
      }
      grain-masonry {
        width: calc(100% + 20px);
        margin-left: -10px;
      }
      @media screen and (max-width: 1201px) {
        collectar-card {
          width: calc(33.333333333% - 20px);
        }
      }
      @media screen and (max-width: 961px) {
        collectar-card {
          width: calc(33.333333333% - 20px);
        }
      }
      @media screen and (max-width: 718px) {
        collectar-card {
          width: calc(50% - 20px);
        }
      }
      @media screen and (max-width: 480px) {
        collectar-card {
          width: calc(100% - 20px);
        }
      }
    </style>
    <collectar-service id="ajax" api="{{server}}" loading="{{loading}}"
      service="{{service}}"  result="{{result}}" params="{{params}}"
      method="{{method}}"  body="{{body}}" error="{{error}}">
    </collectar-service>
    <slot></slot>
    <div class="results" id="results">
      <grain-masonry id="masonry" transition-duration="250" item-selector="collectar-card">
      </grain-masonry>
      <div class="show-more">
        <dom-if if="{{loading}}">
          <template>
            <div class="spinner">
              <paper-spinner-lite elevation="1" active></paper-spinner-lite>
            </div>
          </template>
        </dom-if>
        <dom-if if="{{canShowMore(loading, limit)}}">
          <template>
            <paper-icon-button elevation="1"
              on-tap="_loadMore" icon="app:expand-more">
            </paper-icon-button>
          </template>
        </dom-if>
      </div>
    </div>
  </template>
  <script>
    /**
     * `collectar-list`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class collectarList extends Polymer.Element {
      static get is() {
        return 'collectar-list';
      }
      static get properties() {
        return {
          project: {
            type: Object,
          },
          projectId: {
            type: String,
            reflectToAttribute: true,
            observer: 'projectChanged'
          },
          server: {
            type: String,
            value: ''
          },
          resultItems: {
            value() { return []; },
          },
          service: {
            observer: 'generateRequest'
          },
          result: {
            observer: 'animateItems'
          },
          query: {
            type: String,
            observer: 'projectChanged'
          },
          queryOnly: Boolean,
          loading: {
            type: Boolean,
            value: false
          },
          more: {
            type: Boolean,
            value: false,
          },
          limit: Boolean
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this.onscroll = function(e) {
          const moreOffset = this.$.results.querySelector('.show-more').offsetTop;
          const scrollTop  = e.target.scrollTop + e.target.clientHeight;
          if(scrollTop >= moreOffset && !this.more) {
            this._loadMore();
          }
        }.bind(this);
      }

      computeService(projectId, more) {
        this.service = undefined;

        if (more) this.__skip = this.__skip  + 25 || 0;
        let query = this.query || '?';
        query += `skip=${this.__skip}&limit=25`;
        if (!projectId) return;
        this.service = `projects/${projectId}/items${query}`;
      }

      animateItems(result) {
        if(!result || !result.results.length) return;
        this.limit = false;
        const resultItems = result.results.map((item) => {
          if(item._data.RelatedMedias && item._data.PhotoFields) {
            item._data.RelatedMedias._medias = [...item._data.PhotoFields._medias, ...item._data.RelatedMedias._medias];
            delete item._data.PhotoFields._medias;
          }
          return Object.assign({}, ...Object.values(item._data));
        });
          const cards = resultItems.map((i) => {
            const card = document.createElement('collectar-card');
            card.cardItem = i;
            card.projectId = this.projectId;
            card.server = this.server;
            return card;
          });
          this.$.masonry.appendChildren(cards);
          this.resultItems.push(...resultItems);
          if(this.resultItems.length >= result.count) this.limit = true;
          this.set('more', false);
      }

      projectChanged(projectId) {
        if(!this.projectId) return;
        this.resultItems = [];
        this.$.masonry.innerHTML = '';
        this.__skip = 0;
        this.set('more', false);
        // TODO: add option to query only when query is set
        this.computeService(this.projectId, this.more);
      }

      layout() {
        this.$.masonry.layout();
      }

      generateRequest() {
        if (!this.service) return;
        this.$.ajax.generateRequest();
      }

      presentShow(e) {
        this.dispatchEvent(new CustomEvent('show', { detail: { item: e.detail.cardItem },
          bubbles: true, composed: true }));
      }

      dismissShow(e) {
        this.$.show.cardItem = undefined;
      }

      _loadMore(e) {
        if(!this.resultItems.length) return;
        this.set('more', true);
        this.computeService(this.projectId, this.more);
      }
      
      canShowMore(loading, limit) {
        return !loading && !limit;
      }
    }

    window.customElements.define(collectarList.is, collectarList);
  </script>
</dom-module>
